@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #555;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

:root {
  --text-color-1: #e63946ff;
  --primary-color: #f1faeeff;
  --hover-color: #757577;
  --secondary-color: #a8dadcff;
  --button-color: #457b9dff;
  --text-color: #1d3557ff;

}

butto {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--primary-color);
  border-radius: 5px;
}

.border-3 {
  border-width: 3px;
}